<!DOCTYPE html>
<html>
<head>
    <title>Прогноз погоды</title>
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
</head>
<body>
    <div class="container">
        <form class="form" action="/" method="get">
            <input class="input"
                   type="text"
                   name="city"
                   placeholder="Введите название города"
                   required
            >
            <button class="button"
                    type="submit"
            >
                Найти</button>
        </form>
        {% if city %}
            {% if weather_data %}
                <h2>Погода в городе {{ weather_data['city_name'] }}</h2>
                <ul>
                    <li>Температура: {{ weather_data['temperature_2m'] }} °C</li>
                    <li>Ощущается как: {{ weather_data['apparent_temperature'] }} °C</li>
                    <li>Скорость ветра: {{ weather_data['wind_speed_10m'] }} км/ч</li>
                    <li>Относительная влажность: {{ weather_data['relative_humidity_2m'] }} %</li>
                </ul>
            {% else %}
                <h2>Город не найден</h2>
            {% endif %}
        {% endif %}
    </div>
</body>
</html>